{% extends 'mainApp/base.html' %}

{% block headblock %}<title>SIGN UP</title>{% endblock headblock %}

{% block bodyblock %}
    <form action="" method="post">
        {% csrf_token %}
        
            email :  <input type="email" name="email" id="email"><br><br>
            username :  <input type="text" name="username" id="username"><br><br>
            password : <input type="password" name="password" id="password"><br><br>
            confirmPassword : <input type="password" name="confirm" id="confirm"><br>
            Address : <textarea name="address" id="address" cols="30" rows="10"></textarea> <br>

            <button id="submit "type="submit" > SUBMIT</button>
            <br>
            <br>
            <a href="{% url 'login' %}">log in</a>
    </form>
{% endblock bodyblock %}